auto-save-list
backups
*~
.places
session.*
tramp
/elpa
swank
history
ac-comphist.dat
projectile.cache
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
.mc-lists.el
initcustom.el
custom.el
/eshell
/tmp
/url
.emacs.desktop*
games/
recentf
project-explorer-cache/
.last-package-update-day
projectile-bookmarks.eld
autosaves/
